{% capture title %}{% if page.title %}{{ page.title }} |{% endif %}{{ site.name }}{% endcapture %}
{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
{% capture sharetitle %}{% if site.sharetitle %}{{ site.sharetitle }}{% else %}{% if page.sharetitle %}{{ page.sharetitle }}{% else %}{{ title }}{% endif %}{% endif %}{% endcapture %}
{% capture twittertext %}{% if site.twittertext %}{{ site.twittertext }}{% else %}{% if page.twittertext %}{{ page.twittertext }}{% else %}{{ sharetitle }}{% endif %}{% endif %}{% endcapture %}
<script src="https://use.typekit.net/rzl3tvp.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

<!-- *** social meta *** -->
<!-- facebook -->
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/images/share.png" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="500" />
<meta property="og:site_name" content="Pop Quiz!" />
<meta property="og:determiner" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:title" content="Guess which CEO just said something totally ugly to our friends." />
<meta property="og:description" content="Hint: he's the tries-to-act cool douchebag." />

<!-- twitter -->
<meta name="twittertext" content="The tries-to-act-cool CEO of a major company lost it on our friends, so we made him this quiz (Hint: @JohnLegere)"/>
<meta name="twitterdomain" content="www.douchebagceo.com"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.author.twitter }}">
<meta name="twitter:title" content="One of these CEOs tries to act like your cool uncle…">
<meta name="twitter:description" content="…but actually censors his customers' Internet. Guess which one."/>
<meta name="twitter:image:src" content="{{ site.url }}/images/share.png">
<meta name="twitter:domain" content="douchebagCEO.com">
<meta name="twitter:account_id" content="{{ site.author.twitterid }}" />

<!-- /*** social meta *** -->

<link rel="publisher" href="https://plus.google.com/{{ site.author.googleid }}">

<link rel="shortcut icon" href="images/favicon.ico">

<link rel="author" content="humans.txt" />
<link rel="stylesheet" href="{{ pathlead }}css/core.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700" rel="stylesheet" type="text/css">
